{
    "extends": "rallycoding",
    "env": {
        "browser": true
    },
    "rules": {
        "no-alert": 0,
        "react/jsx-boolean-value" : 0,
        "object-curly-spacing": ["error", "never"],
        "react/jsx-space-before-closing" : [ "error", "never" ],
        "react/jsx-closing-bracket-location": [1, {"selfClosing": "after-props"}]
    }
}